# See https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md for a description of parameters.

[mcu]
#serial: /dev/serial/by-id/<klipper-device>
#
# serial-links set in 99-klipper-printers.rules use:
#  "sudo nano /etc/udev/rules.d/99-klipper-printers.rules"
# after changing use, to reload rules and check them:
#  "sudo udevadm control --reload-rules; sudo udevadm trigger; ls -la /dev/klipper/"
# view current serial links for klipper with:
#  "ls -la /dev/klipper/"
serial: /dev/klipper/blauw

## Use the host as mcu to control its gpio pins
## Uncomment the lines below if you use the hostmcu profile, see main Readme for more info
# [mcu host]
# serial: /opt/printer_data/run/klipper_host_mcu.tty

# Include defaults for Ender 3 S1 PRO
[include ender3_s1_pro.cfg]

# Include default macro's
[include gcode_macros.cfg]

[bltouch]
z_offset: 0          #z off_set configuration