# !Ender-3 S1 Pro
# printer_size: 220x220x270
# version: 3.6

# based on this source: https://github.com/CrealityOfficial/Creality_Sonic_Pad/blob/main/printer_configrations/printer-Ender3s1pro-401.cfg

[virtual_sdcard]
path: /opt/printer_data/gcodes

[display_status]

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 10
max_z_accel: 1000
square_corner_velocity: 5.0

[bed_screws]
screw1: 25, 33
screw2: 202, 33
screw3: 202, 202
screw4: 25, 202

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: !PA5
position_min: -5
position_endstop: -5
position_max: 245
homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: !PA6
position_min: -2
position_endstop: -2
position_max: 230
homing_speed: 80

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
rotation_distance: 8
microsteps: 16
endstop_pin: probe: z_virtual_endstop
position_min: -5
position_max: 275
homing_speed: 10
second_homing_speed: 1
homing_retract_dist: 2.0

[extruder]
max_extrude_only_distance: 150
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
rotation_distance: 7.53
gear_ratio: 1:1
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 305
# tuned for stock hardware with 200 degree Celsius target
# control: pid
# pid_Kp: 22.429
# pid_Ki: 1.300
# pid_Kd: 96.726

[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 125
# tuned for stock hardware with 50 degree Celsius target
# control: pid
# pid_Kp: 73.008
# pid_Ki: 2.421
# pid_Kd: 550.294

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2

[fan]
pin: PA0
kick_start_time: 0.5

#set heater fan runnig with temperature over 60;
[heater_fan my_nozzle_fan]
pin: PC0
max_power: 0.8
shutdown_speed: 0
heater:extruder
heater_temp: 60
fan_speed: 1.0

# [adxl345]
# cs_pin: rpi:None
# spi_speed: 2000000
# spi_bus: spidev2.0

# [resonance_tester]
# accel_chip: adxl345
# accel_per_hz: 70
# probe_points: 117.5, 117.5, 10

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 40
shaper_type_y: mzv
shaper_freq_y: 38

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: ^!PC15

[bltouch]
sensor_pin: ^PC14       #signal check port ^stand for pull up
control_pin: PC13       #singal control prot
x_offset: -31
y_offset: -40
# z_offset: 0           # configured in specific printer.cfg
speed: 60
stow_on_each_sample = false #high speed for bltoch,
samples: 2

[safe_z_home]
home_xy_position: 145, 155
speed: 200
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 15, 30      # Probe starting point (adjusted for offset)
mesh_max: 210, 190    # Probe ending point (adjusted for offset)
probe_count: 5, 5     # 5x5 grid (25 points) or 6x6 for more detail
# mesh_pps: 2, 2      # Number of measurements on the mesh
algorithm: bicubic
bicubic_tension: 0.2

[exclude_object]
