# See https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md for a description of parameters.

[mcu]
#serial: /dev/serial/by-id/<klipper-device>
#
# serial-links set in 99-klipper-printers.rules use:
#  "sudo nano /etc/udev/rules.d/99-klipper-printers.rules"
# after changing use, to reload rules and check them:
#  "sudo udevadm control --reload-rules; sudo udevadm trigger; ls -la /dev/klipper/"
# view current serial links for klipper with:
#  "ls -la /dev/klipper/"
serial: /dev/klipper/paars

## Use the host as mcu to control its gpio pins
## Uncomment the lines below if you use the hostmcu profile, see main Readme for more info
# [mcu host]
# serial: /opt/printer_data/run/klipper_host_mcu.tty

# Include defaults for Ender 3 S1 PRO
[include ender3_s1_pro.cfg]

# Include default macro's
[include gcode_macros.cfg]

[bltouch]
#z_offset: 0          #z off_set configuration

[extruder]
#control: pid
#pid_Kp: 22.429
#pid_Ki: 1.300
#pid_Kd: 96.726

[heater_bed]
#control: pid
#pid_Kp: 73.008
#pid_Ki: 2.421
#pid_Kd: 550.294

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.618
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.513
#*# pid_ki = 1.094
#*# pid_kd = 96.155
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.646
#*# pid_ki = 1.282
#*# pid_kd = 919.004
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.057500, 0.042500, 0.002500, 0.057500, 0.096250
#*# 	  -0.070000, -0.043750, -0.022500, 0.071250, 0.168750
#*# 	  -0.095000, -0.060000, -0.035000, 0.058750, 0.130000
#*# 	  -0.222500, -0.137500, -0.061250, 0.087500, 0.235000
#*# 	  0.088750, -0.148750, -0.046250, 0.125000, 0.280000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 210.0
#*# min_y = 30.0
#*# max_y = 190.0
